addict
albumentations
einops
gradio==0.20.1
huggingface-hub
imageio
imageio-ffmpeg
kornia
omegaconf
open-clip-torch
opencv-contrib-python
opencv-python-headless
prettytable
pytorch-lightning
safetensors
timm
yapf
--extra-index-url https://download.pytorch.org/whl/nightly/cu118
torch==1.13.1+cu117
torchvision==0.14.1+cu117
transformers==4.26.1
https://files.pythonhosted.org/packages/8c/a3/5ee3fff49fd2e5c5ca48266cb65b433818bb1c900ade0105322665371a13/xformers-0.0.17.dev473-cp39-cp39-manylinux2014_x86_64.whl

