https://download.pytorch.org/whl/cu118/torch-2.0.0%2Bcu118-cp39-cp39-linux_x86_64.whl
https://download.pytorch.org/whl/cu118/torchvision-0.15.1%2Bcu118-cp39-cp39-linux_x86_64.whl
https://download.pytorch.org/whl/cu118/torchaudio-2.0.1%2Bcu118-cp39-cp39-linux_x86_64.whl
https://download.pytorch.org/whl/torchtext-0.15.1%2Bcpu-cp39-cp39-linux_x86_64.whl
pytorch-lightning==1.9.4
xformers
addict
albumentations
einops
gradio
huggingface-hub
imageio
imageio-ffmpeg
kornia
omegaconf
open-clip-torch
opencv-contrib-python
opencv-python-headless
prettytable
safetensors
timm
transformers
yapf
Triton
pyright
