addict
albumentations
einops
gradio==3.20.1
huggingface-hub
imageio
imageio-ffmpeg
kornia
omegaconf
open-clip-torch
opencv-contrib-python
opencv-python-headless
prettytable
pytorch-lightning
safetensors
timm
yapf
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117
transformers
https://github.com/ZyCromerZ/xformers_builds/releases/download/xformers-2023-02-12-Py-3.8-Cuda-11.8.0-PyTorch-1.13.1%2Bcu117-ubuntu-18.04/xformers-0.0.17+12c076d.d2

